<!-- jQuery -->
<script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{{ url_for('static',filename='vendor/metisMenu/metisMenu.min.js')}}"></script>

<!-- Morris Charts JavaScript -->
<script src="{{ url_for('static',filename='vendor/raphael/raphael.min.js')}}"></script>
<script src="{{ url_for('static',filename='vendor/morrisjs/morris.min.js')}}"></script>
<script src="{{ url_for('static',filename='data/morris-data.js')}}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ url_for('static',filename='js/sb-admin-2.js')}}"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
